:host {
  display: block;
  height: 100%;
  width: 100%;

  ::ng-deep {
    .dropBox {
      cursor: pointer;
      input {
        cursor: pointer;
      }
      .dx-button-has-icon .dx-icon {
        font-size: 3px;
      }
    }
    .upload-btn {
      margin-left: -10px;
    }
  }

  // .summary {
  //   height: 100px;
  // }
}
