// @import 'bootstrap/dist/css/bootstrap.min.css';

@import "@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "devextreme/dist/css/dx.common.css";
@import "devextreme/dist/css/dx.light.css";
@import "../src/assets/devextreme/styles/dx.material.purple-light.css";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.w-100p {
  width: 100% !important;
}

.h-100p {
  height: 100% !important;
}

.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}

.text-center {
  text-align: center !important;
}
